DATABASE_URL="postgresql://neondb_owner:npg_zybc12OKqXDC@ep-young-mountain-azs3x8k8-pooler.c-3.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
AUTH_SECRET="https://ep-young-mountain-azs3x8k8.neonauth.c-3.ap-southeast-1.aws.neon.tech/neondb/auth"
